@import 'layouts/variables.scss';

body {
    padding: 0;
    @include flex-between;
    flex-direction: row;
    align-items: stretch;
}

main {
    padding: $padding;
    padding-left: 0;

    section {
        align-items: flex-start;
        width: 100%;
        max-width: $width-section;
        min-height: 600px;
    }
}


.header {
    @include flex-center;
    flex-direction: column;
    align-self: flex-start;
    padding: $padding;
    width: 400px;
    min-height: 100vh;
    flex-shrink: 0;

    .block {
        @include flex-column;
        justify-content: space-between;
        padding: $padding-form;
        flex-grow: 1;
        width: 100%;
        border-radius: $border-radius;
        @include neumorphism;

        .admin {
            @include flex-center;
            border: $border-accent-opacity;
            margin-bottom: $padding-form;

            svg {
                transition: fill 0.3s ease-in-out;
            }

            &:hover {
                svg {
                    fill: $accent;
                }
                
            }

            .icon {
                height: 15px;
                width: 15px;
                margin-right: 20px;
            }
        }

        nav {
            @include flex-column;         

            a + a { 
                margin-top: $padding-form;
            }

            & + a {
                margin-top: $padding-form;
            }
        }

        a {
            padding: 10px 20px;
            border-radius: 15px;
            transition: all 0.3s ease-in-out;

            &:hover {
                background: $accent-opacity;
                color: $accent;
            }
        }   
    }
}

.rating {

}

#login {
    justify-content: center;
    flex-grow: 1;

    .form_block {
        align-self: center;
    }
}

#info {

    .info + .info {
        margin-left: $padding-low;
    }

    .block {
        @include flex-column;
        border-radius: $border-radius-low;
        @include neumorphism;
        padding: $padding;
        flex-grow: 1;

        & + .block {
            margin-top: $padding-low;
        }

        form {
            margin-top: $padding-low;
        }
    }

    .requests {
        span {
            margin-top: $padding-form;
        }

        .button {
            margin-top: $padding-form;
        }
    }

}

#request {

    .rating {
        margin-top: $padding-low;

        .input_row {
            @include flex-center;
            align-self: stretch;
    
            & + .input_row {
                margin-top: $padding-form;
            }

            .subject {
                flex-grow: 1;
            }
    
            .eval {
                width: 50px;
                min-width: 0;
                margin-top: 0;
                caret-color: transparent;
                margin-left: $padding-form;
            }
        }
    }
}