@import 'layouts/variables.scss';
#banner {
    @media screen and (max-width: $mobile-width){
        flex-direction: column-reverse;
    }

    .illustration {
        width: 690px;
        height: 500px;
        background-image: url('/storage/img/illustrations/banner.svg');
        @include background-contain;

        @media screen and (max-width: $mobile-width){
            width: 100%;
            height: calc(100vw * (500 / 650) - #{$padding-low * 2});
        }
    }
}

#specialties {
    h1 {
        background: linear-gradient(266.79deg, #3E3E3E 0.03%, #7E838E 100.03%);
        @include background-text;
    }

    .illustration {
        width: 500px;
        height: 450px;
        background-image: url('/storage/img/illustrations/gears.svg');
        @include background-contain;

        @media screen and (max-width: $mobile-width){
            width: 100%;
            height: calc(100vw * (450 / 500) - #{$padding-low * 2});
        }
    }
}

#info {

    .block_info {

        .block {

            &.request {
                flex-grow: 1;

                .list_block {
                    height: 100%;
    
                    .list {
                        height: 100%;
                        padding: 10px 0;

                        .icon {
                            height: 40px;
                            width: 40px;
                            flex-shrink: 0;
                        }

                        .text {
                            display: flex;
                            align-items: center;

                            .circle {
                                @include flex-center;
                                background: $accent-opacity;
                                width: 30px;
                                height: 30px;
                                margin-right: 10px;
                                border-radius: 15px;
                                color: $accent;
                            }
                        }
                    }
                }
            }

            & + .block {
                margin-left: $padding-low;

                @media screen and (max-width: $mobile-width){
                    margin-left: 0;
                    margin-top: $padding-low;
                }
            }
        }

    }
}

#contacts {

    .block_contacts {

        .block {
            @include flex-between;
            border-radius: $border-radius-low;
            @include neumorphism;
            padding: $padding;
            flex-direction: column;
            align-self: stretch;
            align-items: stretch;
            overflow: hidden;

            .list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                & + .list {
                    margin-top: $padding-low;
                }

                span + span {
                    margin-top: 10px;
                }
            }

            &.map {
                flex-grow: 1;
                padding: 0;

                iframe {
                    height: 100%;

                    
                }
            }

            & + .block {
                margin-left: $padding-low;
            }
        }
    }
}


    
