@import 'layouts/variables.scss';
#request {

    .code_block {
        .code {
            @include flex-center;
    
            input {
                width: 50px;
                min-width: 0;
                caret-color: transparent;
    
                & + input {
                    margin-top: 0;
                    margin-left: $padding-form;
                }
            }
        }

        .text {
            width: 260px;
            margin-top: $padding-form;
        }

        .button_small {
            text-align: center;
            margin-top: $padding-form;
        }
        .timer_block {
            display: none;
            margin-top: $padding-form;
            text-align: center;
        }
    }

    .date_time_block {
        margin-top: $padding-low;
    }

    .title_block {

        .title {

            .stage {
                @include flex-center;
                margin-right: $padding-low;
                padding: 10px 15px;
                @include gradient;
                border-radius: 22px;
                color: #fff;
            }
        }

    }

    .block_request {
        display: flex;

        .form_block {
            flex-grow: 1;
            justify-content: space-around;

            & + .form_block {
                margin-top: $padding-low;
            }
        }

        .slip {
            flex-grow: 1;
            margin-left: $padding-low;
        }

        & + .block_request {
            margin-top: $padding-low;
        }

    }

    .footnote {
        margin-top: $padding-low;
        display: flex;
        align-items: center;

        .text {
            margin-left: $padding-low;

            .title {
                margin-bottom: 0.5rem;
            }
        }

        .icon {
            height: 35px;
            fill: $accent;
            align-self: flex-start;
        }

        & + .block_request {
            margin-top: $padding-low;
        }
        
    }

    .select_ok {
        height: 26px;
        width: 26px;
        margin: 7px;
        fill: $accent;
    }

    #consent {
        display: none;
    }
}
