body {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-items: stretch;
}

main {
  padding: 50px;
  padding-left: 0;
}

main section {
  align-items: flex-start;
  width: 100%;
  max-width: 1180px;
  min-height: 600px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: flex-start;
  padding: 50px;
  width: 400px;
  min-height: 100vh;
  flex-shrink: 0;
}

.header .block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  flex-grow: 1;
  width: 100%;
  border-radius: 30px;
  background-color: #f1f5f8;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08), -8px -8px 16px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.header .block .admin {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(30, 145, 255, 0.2);
  margin-bottom: 20px;
}

.header .block .admin svg {
  transition: fill 0.3s ease-in-out;
}

.header .block .admin:hover svg {
  fill: #1e91ff;
}

.header .block .admin .icon {
  height: 15px;
  width: 15px;
  margin-right: 20px;
}

.header .block nav {
  display: flex;
  flex-direction: column;
}

.header .block nav a + a {
  margin-top: 20px;
}

.header .block nav + a {
  margin-top: 20px;
}

.header .block a {
  padding: 10px 20px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.header .block a:hover {
  background: rgba(30, 145, 255, 0.2);
  color: #1e91ff;
}

#login {
  justify-content: center;
  flex-grow: 1;
}

#login .form_block {
  align-self: center;
}

#info .info + .info {
  margin-left: 35px;
}

#info .block {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #f1f5f8;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08), -8px -8px 16px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 50px;
  flex-grow: 1;
}

#info .block + .block {
  margin-top: 35px;
}

#info .block form {
  margin-top: 35px;
}

#info .requests span {
  margin-top: 20px;
}

#info .requests .button {
  margin-top: 20px;
}

#request .rating {
  margin-top: 35px;
}

#request .rating .input_row {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

#request .rating .input_row + .input_row {
  margin-top: 20px;
}

#request .rating .input_row .subject {
  flex-grow: 1;
}

#request .rating .input_row .eval {
  width: 50px;
  min-width: 0;
  margin-top: 0;
  caret-color: transparent;
  margin-left: 20px;
}

