*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:active,
input:hover,
input:focus,
button:active,
button:hover,
button:focus,
textarea:active,
textarea:hover,
textarea:focus,
select:active,
select:hover,
select:focus {
  outline: 0;
  outline-offset: 0;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  position: fixed;
  width: 100%;
  height: 180px;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #EDF1F5 72.32%, rgba(237, 241, 245, 0) 100%);
  filter: drop-shadow(0px 8px 44px #EDF1F5);
  z-index: 9999;
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

header.out {
  transform: translateY(-100%);
}

header .request_stage {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .request_stage .circle {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(30, 145, 255, 0.2);
  border-radius: 15px;
}

header .request_stage .circle.active {
  border: 2px solid #1e91ff;
}

header .request_stage .line {
  background: rgba(30, 145, 255, 0.2);
  width: 20px;
  height: 1px;
}

header .request_stage .line.active {
  background: linear-gradient(90deg, #1e91ff 10.18%, rgba(30, 145, 255, 0.2) 100.18%);
}

header .request_stage .line.full_active {
  background: #1e91ff;
}

header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
  width: 1180px;
  height: 80px;
  border-radius: 30px;
  background-color: #f1f5f8;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08), -8px -8px 16px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

header .menu nav {
  display: flex;
  align-items: center;
}

header .menu nav a + a {
  margin-left: 30px;
}

header.mobile {
  display: none;
  position: fixed;
  bottom: 35px;
  left: 35px;
  top: auto;
  height: 60px;
  background: transparent;
  filter: none;
  padding: 0;
  width: calc(100% - 70px);
}

header.mobile .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  height: 60px;
  width: 100%;
  border-radius: 30px;
  background-color: #f1f5f8;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08), -8px -8px 16px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

header.mobile.out {
  transform: translateY(calc(100% + 70px));
}

@media screen and (max-width: 800px) {
  header.laptop {
    display: none;
  }

  header.mobile {
    display: block;
  }
}

footer {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
  max-width: 1180px;
  flex-grow: 1;
}

footer section .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer section .logo .icon {
  margin-right: 10px;
  height: 25px;
  width: 34px;
}

footer section .social_block {
  display: flex;
}

footer section .social_block .social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #f1f5f8;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08), -4px -4px 8px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

footer section .social_block .social .icon {
  width: 30px;
  height: 30px;
}

footer section .social_block .social + .social {
  margin-left: 20px;
}

@font-face {
  font-family: Rubik;
  src: url("/font/rubik.ttf");
}

@font-face {
  font-family: Rubik-medium;
  src: url("/font/rubik-medium.ttf");
}

@font-face {
  font-family: Rubik-bold;
  src: url("/font/rubik-bold.ttf");
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  display: flex;
  flex-direction: column;
  background: #f1f5f8;
  font-size: 14px;
  line-height: 17px;
  font-family: Rubik;
  font-weight: 400;
  padding-top: 180px;
  min-width: 1280px;
  color: #3e3e3e;
}

@media screen and (max-width: 800px) {
  body {
    min-width: 100%;
    padding-top: 0;
  }
}

svg {
  fill: #3e3e3e;
}

h1,
h2,
h3 {
  font-family: Rubik-bold;
  font-weight: 700;
  cursor: default;
}

h1.gradient,
h2.gradient,
h3.gradient {
  background: linear-gradient(268.89deg, #1E91FF -0.02%, #17DAE7 99.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1.accent,
h2.accent,
h3.accent {
  color: #1e91ff;
}

h1 {
  font-size: 40px;
  line-height: 47px;
}

span.middle {
  font-size: 16px;
  line-height: 19px;
}

span.large {
  font-size: 18px;
  line-height: 21px;
}

span.status {
  padding: 6px 14px;
  background: rgba(30, 145, 255, 0.2);
  border-radius: 14px;
  color: #1e91ff;
  font-size: 14px;
}

span.accent {
  color: #1e91ff;
}

b {
  font-family: Rubik-medium;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #3e3e3e;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

a.button {
  background: #1e91ff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 4px 4px 12px rgba(15, 75, 133, 0.3), -4px -4px 12px #C9E5FF;
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-family: Rubik-medium;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  text-align: center;
}

a.button:hover {
  box-shadow: none;
  background: rgba(30, 145, 255, 0.2);
  color: #1e91ff !important;
}

a.button:hover svg {
  fill: #1e91ff;
  transition: fill 0.3s ease-in-out;
}

a.button:disabled:hover {
  background: #1e91ff;
  color: #fff !important;
  box-shadow: 4px 4px 12px rgba(15, 75, 133, 0.3), -4px -4px 12px #C9E5FF;
}

a.button_small {
  background: #1e91ff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 4px 4px 12px rgba(15, 75, 133, 0.3), -4px -4px 12px #C9E5FF;
  border-radius: 15px;
  height: 30px;
  padding: 6px 12px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-family: Rubik-medium;
  transition: all 0.3s ease-in-out;
}

a.button_small:hover {
  box-shadow: none;
  background: rgba(30, 145, 255, 0.2);
  color: #1e91ff !important;
}

a.button_small:hover svg {
  fill: #1e91ff;
  transition: fill 0.3s ease-in-out;
}

a:hover {
  color: #1e91ff;
}

a.underlined {
  text-decoration: underline;
  color: #1e91ff;
}

a.underlined:hover {
  opacity: 0.7;
}

p + p {
  margin-top: 1rem;
}

textarea {
  overflow: auto;
}

.select,
input[type=text],
input[type=mail],
input[type=password],
input[type=date],
textarea {
  display: flex;
  align-self: stretch;
  background: #FFFFFF;
  box-shadow: inset -4px -4px 12px rgba(255, 255, 255, 0.8), inset 4px 4px 8px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(30, 145, 255, 0.2);
  border-radius: 10px;
  padding: 13px 20px;
  color: #3e3e3e;
  resize: none;
  height: 43px;
  min-width: 260px;
  position: relative;
  -webkit-appearance: none;
}

.select:focus,
input[type=text]:focus,
input[type=mail]:focus,
input[type=password]:focus,
input[type=date]:focus,
textarea:focus {
  border: 1px solid #1e91ff;
  box-shadow: 4px 4px 12px rgba(15, 75, 133, 0.3), -4px -4px 12px #C9E5FF;
}

.select::-moz-placeholder, input[type=text]::-moz-placeholder, input[type=mail]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=date]::-moz-placeholder, textarea::-moz-placeholder {
  color: rgba(62, 62, 62, 0.8);
}

.select:-ms-input-placeholder, input[type=text]:-ms-input-placeholder, input[type=mail]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=date]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: rgba(62, 62, 62, 0.8);
}

.select::placeholder,
input[type=text]::placeholder,
input[type=mail]::placeholder,
input[type=password]::placeholder,
input[type=date]::placeholder,
textarea::placeholder {
  color: rgba(62, 62, 62, 0.8);
}

.select::-moz-placeholder:focus, input[type=text]::-moz-placeholder:focus, input[type=mail]::-moz-placeholder:focus, input[type=password]::-moz-placeholder:focus, input[type=date]::-moz-placeholder:focus, textarea::-moz-placeholder:focus {
  color: #3e3e3e;
}

.select:-ms-input-placeholder:focus, input[type=text]:-ms-input-placeholder:focus, input[type=mail]:-ms-input-placeholder:focus, input[type=password]:-ms-input-placeholder:focus, input[type=date]:-ms-input-placeholder:focus, textarea:-ms-input-placeholder:focus {
  color: #3e3e3e;
}

.select::placeholder:focus,
input[type=text]::placeholder:focus,
input[type=mail]::placeholder:focus,
input[type=password]::placeholder:focus,
input[type=date]::placeholder:focus,
textarea::placeholder:focus {
  color: #3e3e3e;
}

.select {
  cursor: pointer;
  padding-right: 50px;
}

.select::before {
  content: "";
  height: 15px;
  width: 15px;
  position: absolute;
  top: 14px;
  right: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/storage/img/icons/chevron-down.svg");
}

.select.active {
  border: 1px solid #1e91ff;
  box-shadow: 4px 4px 12px rgba(15, 75, 133, 0.3), -4px -4px 12px #C9E5FF;
}

.select.active::before {
  background-image: url("/storage/img/icons/chevron-up.svg");
}

.select .text {
  color: rgba(62, 62, 62, 0.8);
}

.select .text.active {
  color: #3e3e3e;
}

.select .list_option {
  display: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  padding: 13px 20px;
  border-radius: 10px;
  background-color: rgba(241, 245, 248, 0.7);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  z-index: 9998;
}

.select .list_option .option {
  cursor: pointer;
}

.select .list_option .option:hover {
  color: #1e91ff;
}

.select .list_option .option + .option {
  margin-top: 13px;
}

.select_button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f1f5f8;
  background-size: 70%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08), -4px -4px 8px rgba(255, 255, 255, 0.8), inset -4px -4px 12px transparent, inset 4px 4px 8px transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-image: url("/storage/img/icons/plus.svg");
  cursor: pointer;
  transition: box-shadow 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.select_button.active {
  background-image: url("/storage/img/icons/minus.svg");
}

.select_button:hover {
  box-shadow: 4px 4px 8px transparent, -4px -4px 8px transparent, inset -4px -4px 12px rgba(255, 255, 255, 0.8), inset 4px 4px 8px rgba(0, 0, 0, 0.08);
}

input[type=submit] {
  background: #1e91ff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 4px 4px 12px rgba(15, 75, 133, 0.3), -4px -4px 12px #C9E5FF;
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-family: Rubik-medium;
  transition: all 0.3s ease-in-out;
  -webkit-appearance: none;
}

input[type=submit]:hover {
  box-shadow: none;
  background: rgba(30, 145, 255, 0.2);
  color: #1e91ff !important;
}

input[type=submit]:hover svg {
  fill: #1e91ff;
  transition: fill 0.3s ease-in-out;
}

input[type=submit]:disabled:hover {
  background: #1e91ff;
  color: #fff !important;
  box-shadow: 4px 4px 12px rgba(15, 75, 133, 0.3), -4px -4px 12px #C9E5FF;
}

input[type=submit].button_small {
  background: #1e91ff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 4px 4px 12px rgba(15, 75, 133, 0.3), -4px -4px 12px #C9E5FF;
  border-radius: 15px;
  height: 30px;
  padding: 6px 12px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-family: Rubik-medium;
  transition: all 0.3s ease-in-out;
}

input[type=submit].button_small:hover {
  box-shadow: none;
  background: rgba(30, 145, 255, 0.2);
  color: #1e91ff !important;
}

input[type=submit].button_small:hover svg {
  fill: #1e91ff;
  transition: fill 0.3s ease-in-out;
}

input[type=submit]:disabled {
  opacity: 0.5;
  cursor: default;
}

input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset -4px -4px 12px rgba(255, 255, 255, 0.8), inset 4px 4px 8px rgba(0, 0, 0, 0.08), inset 0 0 0 50px #fff !important;
  -webkit-text-fill-color: #3e3e3e !important;
  color: #3e3e3e !important;
}

textarea {
  height: 129px;
  overflow: hidden;
}

.switch_block {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset -4px -4px 12px rgba(255, 255, 255, 0.8), inset 4px 4px 8px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border: 1px solid rgba(30, 145, 255, 0.2);
  padding: 5px;
  height: 42px;
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0;
}

.switch_block .switch + .switch {
  margin-left: 5px;
}

.switch_block .switch {
  padding: 7px 14px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.switch_block .switch.active {
  background-color: #f1f5f8;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08), -4px -4px 8px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: Rubik-medium;
  font-weight: 500;
  color: #1e91ff;
}

.switch_block .switch.disabled {
  pointer-events: none;
  cursor: default;
}

.switch_block2 {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  background: #fff;
  border: 1px solid rgba(30, 145, 255, 0.2);
  border-radius: 15px;
  box-shadow: inset -4px -4px 12px rgba(255, 255, 255, 0.8), inset 4px 4px 8px rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
}

@media screen and (max-width: 800px) {
  .switch_block2 {
    align-self: stretch;
  }
}

.switch_block2 .switch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 25px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .switch_block2 .switch {
    flex-grow: 1;
    flex-basis: 0;
  }
}

.switch_block2 .switch.active {
  background-color: #f1f5f8;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.08), -4px -4px 8px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: Rubik-medium;
  font-weight: 500;
  color: #1e91ff;
}

.switch_block2 .switch.disabled {
  pointer-events: none;
  cursor: default;
}

.switch_block2 .switch + .switch {
  margin-left: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  position: relative;
  flex-grow: 1;
}

@media screen and (max-width: 800px) {
  main {
    padding: 35px;
  }
}

main section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  padding: 35px;
}

@media screen and (max-width: 800px) {
  main section {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  main section .illustration {
    margin-bottom: 35px;
  }
}

main section .title_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-bottom: 35px;
}

main section .title_block .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

main section .title_block .title .count {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: rgba(30, 145, 255, 0.2);
  color: #1e91ff;
  font-size: 25px;
  padding: 10px;
  margin-left: 35px;
}

main section .title_block .switches {
  display: flex;
  justify-content: center;
  align-items: center;
}

main section .title_block .switches .switch_block + .switch_block {
  margin-left: 20px;
}

main section + section {
  margin-top: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form_block {
  display: flex;
  flex-direction: column;
  background-color: #f1f5f8;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08), -8px -8px 16px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  align-items: stretch;
  align-self: stretch;
  padding: 20px;
  border-radius: 20px;
}

.form_block .title {
  font-size: 18px;
  line-height: 21px;
  font-family: Rubik-medium;
  font-weight: 500;
  text-align: center;
}

.form_block .title + .block_input {
  margin-top: 20px;
}

.form_block .block_input {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.form_block .block_input input[type=submit] {
  align-self: center;
}

.form_block .block_input input + input,
.form_block .block_input input + textarea,
.form_block .block_input textarea + input,
.form_block .block_input .input + .input {
  margin-top: 20px;
}

.form_block .block_input a {
  text-align: right;
}

.form_block .block_input a + input {
  margin-top: 20px;
}

.form_block .block_input input + a {
  margin-top: 20px;
}

.block_form .form_block {
  margin-top: 50px;
}

@media screen and (max-width: 800px) {
  .block_form .form_block {
    margin-top: 20px;
  }
}

#message {
  display: none;
  position: fixed;
  top: 180px;
  width: 400px;
  min-height: 100px;
  left: calc(50% - 200px);
  border-radius: 20px;
  border: 1px solid rgba(30, 145, 255, 0.2);
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  z-index: 9999;
}

@media screen and (max-width: 800px) {
  #message {
    width: calc(100% - 70px);
    left: 35px;
    top: 35px;
  }
}

#message .block {
  display: flex;
  flex-direction: column;
}

#message .block .title {
  display: flex;
  align-items: center;
}

#message .block .title .icon {
  height: 30px;
  width: 30px;
  fill: #1e91ff;
  margin-right: 15px;
}

#message .block .title h3 {
  color: #1e91ff;
}

#message .block .message {
  margin: 20px 0 20px 45px;
}

#message .block .message p + p {
  margin-top: 0.7rem;
}

#message .block .close {
  align-self: flex-end;
  padding: 6px 12px;
}

#error .img {
  fill: #1e91ff;
  width: 200px;
  height: 200px;
}

#error .block h1 {
  margin-bottom: 35px;
}

.date_time_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: inset -4px -4px 12px rgba(255, 255, 255, 0.8), inset 4px 4px 8px rgba(0, 0, 0, 0.08);
  background: #f1f5f8;
  height: 140px;
  width: 314px;
  border-radius: 70px;
  align-self: center;
}

.date_time_block .block_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
  padding: 20px;
  background-color: #f1f5f8;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08), -8px -8px 16px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.date_time_block .block_circle.from {
  color: #1e91ff;
}

.date_time_block .block_circle .text {
  font-size: 40px;
  line-height: 47px;
  font-family: Rubik-bold;
  font-weight: 700;
}

.date_time_block .block_circle .sign {
  font-size: 12px;
  line-height: 14px;
  text-transform: lowercase;
}

.date_time_block .jump {
  display: flex;
  justify-content: center;
}

.date_time_block .jump .circle {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: #1e91ff;
}

.date_time_block .jump .circle:nth-child(2) {
  opacity: 0.7;
}

.date_time_block .jump .circle:nth-child(3) {
  opacity: 0.4;
}

.date_time_block .jump .circle + .circle {
  margin-left: 5px;
}

@media screen and (max-width: 800px) {
  .date_time_block {
    height: calc(100vw * (140 / 314) - 70px);
    width: 100%;
    border-radius: calc((100vw * (140 / 314) - 70px) / 2);
    padding: 10px;
  }

  .date_time_block .block_circle {
    height: calc(100vw * (120 / 314) - 70px);
    width: calc(100vw * (120 / 314) - 70px);
    border-radius: 100%;
  }

  .date_time_block .block_circle .text {
    font-size: calc(20vw / (120 / 40));
    line-height: calc(20vw / (120 / 47));
  }
}

.block_column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
}

.block_column .block_column_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  align-self: stretch;
}

@media screen and (max-width: 800px) {
  .block_column .block_column_content {
    flex-direction: column;
  }
}

#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

.ajax_loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 245, 248, 0.5);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  display: none;
  background-image: url("/storage/img/icons/logo/logo_loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 10%;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-name: loader;
          animation-name: loader;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes loader {
  0% {
    background-color: rgba(241, 245, 248, 0.5);
  }

  50% {
    background-color: rgba(30, 145, 255, 0.08);
  }

  100% {
    background-color: rgba(241, 245, 248, 0.5);
  }
}

@keyframes loader {
  0% {
    background-color: rgba(241, 245, 248, 0.5);
  }

  50% {
    background-color: rgba(30, 145, 255, 0.08);
  }

  100% {
    background-color: rgba(241, 245, 248, 0.5);
  }
}

.specialties .block_form h1 + .block {
  margin-top: 35px;
}

.specialties .block_form .block {
  display: flex;
  flex-direction: column;
  background-color: #f1f5f8;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08), -8px -8px 16px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  align-items: center;
  align-self: stretch;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.specialties .block_form .switches {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  align-self: stretch;
}

@media screen and (max-width: 800px) {
  .specialties .block_form .switches {
    flex-direction: column;
    align-items: stretch;
  }
}

.specialties .block_form .switches .switch_block2 + .switch_block2 {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .specialties .block_form .switches .switch_block2 + .switch_block2 {
    margin-left: 0;
    margin-top: 10px;
  }
}

.specialties .block_form .list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  align-self: stretch;
  align-items: stretch;
}

.specialties .block_form .list .specialty_qualifications {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  line-height: 19px;
  transition: box-shadow 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  cursor: pointer;
}

.specialties .block_form .list .specialty_qualifications:hover {
  background-color: #f1f5f8;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08), -8px -8px 16px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.specialties .block_form .list .specialty_qualifications:hover .code {
  color: #1e91ff;
}

.specialties .block_form .list .specialty_qualifications .specialty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

@media screen and (max-width: 800px) {
  .specialties .block_form .list .specialty_qualifications .specialty .specialty_text {
    flex-direction: column;
    align-items: flex-start;
  }

  .specialties .block_form .list .specialty_qualifications .specialty .specialty_text .code {
    margin-bottom: 10px;
  }
}

.specialties .block_form .list .specialty_qualifications .specialty span {
  margin-right: 15px;
}

.specialties .block_form .list .specialty_qualifications .specialty .code {
  width: 80px;
  font-family: Rubik-medium;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.specialties .block_form .list .specialty_qualifications .specialty .name {
  width: 300px;
}

@media screen and (max-width: 800px) {
  .specialties .block_form .list .specialty_qualifications .specialty .name {
    width: auto;
  }
}

.specialties .block_form .list .specialty_qualifications .specialty .chevron {
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/storage/img/icons/chevron-down.svg");
  flex-shrink: 0;
}

.specialties .block_form .list .specialty_qualifications .specialty + .specialty {
  margin-top: 20px;
}

.specialties .block_form .list .specialty_qualifications .qualifications_block {
  display: none;
}

.specialties .block_form .list .specialty_qualifications .qualifications_block .qualifications {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-top: 20px;
}

.specialties .block_form .list .specialty_qualifications .qualifications_block .qualifications .info {
  display: flex;
  flex-direction: column;
  max-width: 460px;
  margin-right: 20px;
}

.specialties .block_form .list .specialty_qualifications .qualifications_block .qualifications .info .sign {
  margin-bottom: 10px;
}

.specialties .block_form .list .specialty_qualifications .qualifications_block .qualifications .combine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.specialties .block_form .list .specialty_qualifications .qualifications_block .qualifications .combine .info {
  max-width: 210px;
}

.specialties .block_form .list .specialty_qualifications .qualifications_block .qualifications + .qualifications {
  border-top: 1px solid rgba(62, 62, 62, 0.5);
  padding-top: 20px;
}

.specialties .block_form .list .specialty_qualifications.active .specialty .chevron {
  background-image: url("/storage/img/icons/chevron-up.svg");
}

.info .block_info .block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: #f1f5f8;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08), -8px -8px 16px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 50px;
  flex-direction: column;
  align-self: stretch;
  align-items: stretch;
  position: relative;
  overflow: hidden;
}

.info .block_info .block .date_time_block {
  margin-top: 35px;
}

.info .block_info .block .status_block {
  margin-top: 35px;
}

.info .block_info .block .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info .block_info .block .title .switch_block {
  margin-left: 20px;
}

@media screen and (max-width: 800px) {
  .info .block_info .block .title {
    flex-direction: column;
  }

  .info .block_info .block .title .switch_block {
    margin-left: 0px;
    margin-top: 20px;
  }
}

.info .block_info .block .list_block {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: flex-start;
  justify-content: space-between;
}

.info .block_info .block .list_block .list {
  display: flex;
  align-items: center;
}

.info .block_info .block .list_block .list .icon {
  margin-right: 20px;
}

.info .block_info .block .list_block .list + .list {
  margin-top: 25px;
}

.info .block_info .block .status_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info .block_info .block .status_block .status {
  margin-left: 10px;
}

.info .block_info .block.documents {
  flex-grow: 1;
}

.info .block_info .block.documents .list_block .list .icon {
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 800px) {
  .info .block_info .block {
    padding: 35px;
  }

  .info .block_info .block .date_time_block {
    margin-top: 20px;
  }

  .info .block_info .block .status_block {
    margin-top: 20px;
  }
}

#cookie {
  display: none;
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100%;
  z-index: 99999;
}

@media screen and (max-width: 800px) {
  #cookie {
    bottom: 0;
    padding: 35px;
  }
}

#cookie .block_cookie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  border: 1px solid rgba(30, 145, 255, 0.2);
  box-shadow: 4px 4px 12px rgba(15, 75, 133, 0.3), -4px -4px 12px #C9E5FF;
  margin: 0 auto;
}

#cookie .block_cookie .text {
  margin-right: 35px;
}

#cookie .block_cookie .button {
  flex-shrink: 0;
}

@media screen and (max-width: 800px) {
  #cookie .block_cookie {
    width: 100%;
    flex-direction: column;
  }

  #cookie .block_cookie .text {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.apply_block {
  display: none;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid #1e91ff;
  position: relative;
  overflow: hidden;
}

.apply_block .apply {
  width: 25px;
  height: 25px;
  fill: #1e91ff;
  margin-right: 1rem;
}

#login {
  justify-content: space-around;
}

.mobile_header {
  display: none;
}

@media screen and (max-width: 800px) {
  .mobile_header {
    display: flex;
  }
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo .logo_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo .logo_block .img {
  transition: fill 0.2s ease-in-out;
  fill: #3e3e3e;
}

#logo .logo_block:hover .img {
  fill: #1e91ff;
}

#logo .logo_block .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo .logo_block .logo .img {
  height: 28px;
  width: 37px;
}

#logo .logo_block .logo .text {
  margin-left: 20px;
  font-family: Rubik-medium;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
}

#logo .logo_block .border {
  margin-left: 30px;
  width: 1px;
  align-self: stretch;
  background-color: #3e3e3e;
}

#logo .button_back {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e91ff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 4px 4px 12px rgba(15, 75, 133, 0.3), -4px -4px 12px #C9E5FF;
  border-radius: 15px;
  height: 30px;
  padding: 6px 12px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-family: Rubik-medium;
  transition: all 0.3s ease-in-out;
  margin-right: 30px;
}

#logo .button_back:hover {
  box-shadow: none;
  background: rgba(30, 145, 255, 0.2);
  color: #1e91ff !important;
}

#logo .button_back:hover svg {
  fill: #1e91ff;
  transition: fill 0.3s ease-in-out;
}

#logo .button_back:hover {
  box-shadow: none;
}

#logo .button_back .chevron {
  fill: #fff;
  height: 1rem;
  width: 0.8rem;
  margin-right: 6px;
}

