#banner .illustration {
  width: 690px;
  height: 500px;
  background-image: url("/storage/img/illustrations/banner.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#specialties h1 {
  background: linear-gradient(266.79deg, #3E3E3E 0.03%, #7E838E 100.03%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#specialties .illustration {
  width: 500px;
  height: 450px;
  background-image: url("/storage/img/illustrations/gears.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#info .block_info .block.commission .date_time_block {
  margin-top: 35px;
}

#info .block_info .block.commission .status_block {
  margin-top: 35px;
}

#info .block_info .block.request {
  flex-grow: 1;
}

#info .block_info .block.request .list_block {
  height: 100%;
}

#info .block_info .block.request .list_block .list {
  height: 100%;
  padding: 10px 0;
}

#info .block_info .block.request .list_block .list .icon {
  height: 40px;
  width: 40px;
}

#info .block_info .block.request .list_block .list .text {
  display: flex;
  align-items: center;
}

#info .block_info .block.request .list_block .list .text .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(30, 145, 255, 0.2);
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 15px;
  color: #1e91ff;
}

#info .block_info .block .status_block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

#info .block_info .block .status_block .status {
  margin-left: 10px;
}

#info .block_info .block + .block {
  margin-left: 35px;
}

#contacts .block_contacts .block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: #f1f5f8;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08), -8px -8px 16px rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 50px;
  flex-direction: column;
  align-self: stretch;
  align-items: stretch;
  overflow: hidden;
}

#contacts .block_contacts .block .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contacts .block_contacts .block .list + .list {
  margin-top: 35px;
}

#contacts .block_contacts .block .list span + span {
  margin-top: 10px;
}

#contacts .block_contacts .block.map {
  flex-grow: 1;
  padding: 0;
}

#contacts .block_contacts .block.map iframe {
  height: 100%;
}

#contacts .block_contacts .block + .block {
  margin-left: 35px;
}

